<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
    <style>
        table, th, td {
          border:2px solid black;
        }
        </style>
<body>
<h2>Clearance AP form</h2>
    <table style="width: 70%">
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Contact</th>
      <th>Reason</th>
      <th>Signature</th>
    </tr>
    <tr>
      <td>Lucy</td>
      <td>60,000</td>
      <td>0786113680</td>
      <td>         </td>
      <td>         </td>
    </tr>
    <tr>
      <td>Jovita</td>
      <td>90,000</td>
      <td>0783205441</td>
      <td>         </td>
      <td>         </td>
    </tr>
    <tr>
        <td>Mercy</td>
        <td>      </td>
        <td>      </td>
        <td>      </td>
        <td>         </td>
    </tr>
    <tr>
        <td>Kisha</td>
        <td>      </td>
        <td>      </td>
        <td>      </td>
        <td>         </td>
    </tr>
    <tr>
        <td>Peter</td>
        <td>      </td>
        <td>      </td>
        <td>      </td>
        <td>         </td>
    </tr>
    <tr>
        <td>Brian</td>
        <td>      </td>
        <td>      </td>
        <td>      </td>
        <td>         </td>
    </tr>
    <tr>
        <td>Moses</td>
        <td>      </td>
        <td>      </td>
        <td>      </td>
        <td>         </td>
    </tr>
    <tr>
        <td>Anthorny</td>
        <td>      </td>
        <td>      </td>
        <td>      </td>
        <td>         </td>
    </tr>
    <tr>
        <td>Amos</td>
        <td>      </td>
        <td>      </td>
        <td>      </td>
        <td>         </td>
    </tr>
    <tr>
        <td>Emma</td>
        <td>      </td>
        <td>      </td>
        <td>      </td>
        <td>         </td>
    </tr>
    <tr>
      <table>
        <tr>
          <th>Home</th>
          <th>Location</th>
        </tr>
        <tr>
          <td>Flat</td>
          <td>Kireka</td>
        </tr>
      </table>
    </tr>
  </table>
</body>
</html>
